<!DOCTYPE html><html lang="en" class="k-webkit k-webkit136"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/helsbydrake/helsbydrake.all.min.css?v=2.4.4">

    <!-- BRAND SPECIFIC -->

    <link rel="shortcut icon" href="/webs/obbhl/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/webs/obbhl/styles/obbhl.css">
    <script src="/webs/obbhl/scripts/helsbydrake.register.all.min.js?v=2.4.4"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.118/js/jszip.min.js"></script>

    <title>State Board of Behavioral Health Licensure</title>

</head>
<body style="overflow-y: auto; padding-bottom: 70px; position: relative" data-ng-app="helsbydrake.register" class="nscsw-css ng-scope" ng-controller="helsbydrake.register.index.controller">

    <div class="hd-blue-bar no-print">
        <div style=" display: none;">
        <span class="k-widget k-dropdown k-header lang-dropdown ng-pristine ng-untouched ng-valid ng-not-empty" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="lang-dropdown_listbox" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="lang-dropdown_option_selected" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input ng-scope">EN</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-i-arrow-s">select</span></span></span><select autocomplete="off" kendo-drop-down-list="" k-data-source="languageDataSource" k-data-text-field="'name'" k-data-value-field="'id'" ng-model="pref.lang" ng-change="switchLanguage()" class="lang-dropdown ng-pristine ng-untouched ng-valid ng-not-empty" id="lang-dropdown" data-role="dropdownlist" style="display: none;"><option value="en" selected="selected">EN</option></select></span>
        </div>&gt;
        <div class="clearfix"></div>
    </div>

    <div class="header-bar no-print">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-sm hidden-md hidden-lg">
                    <a href="/webs/obbhl/">
                        <!-- ngIf: isLangFr() -->
                        <!-- ngIf: !isLangFr() --><img src="/webs/obbhl/images/logo.png" alt="OBBHL Logo" ng-if="!isLangFr()" style="padding: 5px 0; margin: 5px 0;" class="ng-scope"><!-- end ngIf: !isLangFr() -->
                    </a>
                </div>
                <div class="col-md-12 hidden-xs">
                    <a href="/webs/obbhl/">
                        <!-- ngIf: isLangFr() -->
                        <!-- ngIf: !isLangFr() --><img src="/webs/obbhl/images/logo.png" alt="OBBHL Logo" ng-if="!isLangFr()" class="ng-scope"><!-- end ngIf: !isLangFr() -->
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- ngView: --><div class="hd-controller ng-view ng-scope" style=""><div class="loader ng-scope ng-hide" ng-show="isLoading" style=""></div>

<div ng-show="!isLoading" class="ng-scope" style="">
    <div class="row hd-search no-print">
        <div class="col-md-12">
            <!-- ngIf: keyword --><div class="pull-left ng-scope" ng-if="keyword">
                <a href="#/search/Johnson/0/20/all/all/false/false" class="btn btn-single">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span translate="SHARED_BUTTON_BACK_RESULTS" class="ng-scope">Back to results</span>
                </a>
            </div><!-- end ngIf: keyword -->
            <div class="pull-right hidden-xs">
                <a href="#/" class="btn btn-light">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span translate="SHARED_BUTTON_SEARCH_AGAIN" class="ng-scope">Search Again</span>
                </a>
                <a href="javascript:window.print();" class="btn btn-light">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span translate="SHARED_BUTTON_PRINT" class="ng-scope">Print</span>
                </a>
            </div>

            <div class="row hd-search no-print hidden-sm hidden-md hidden-lg pull-right">
                <div class="col-md-12">
                    <a href="#/" class="btn btn-light">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        <span translate="SHARED_BUTTON_SEARCH_AGAIN" class="ng-scope">Search Again</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 10px"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="hd-box-container profile" style="padding: 25px 35px; margin-bottom: 30px;">

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2 style="padding:0; font-size: 30px; background-color: rgba(0,0,0,0);" class="ng-binding">
                            Jo <!-- ngIf: showName() --> Courtney-Johnson
                            <!-- ngIf: getCommonName() -->
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4 ng-scope" style="font-weight: 600;" translate="REGISTER_PROFILE_LABEL_PREVIOUS_NAMES">Names Previously Used</label>
                    <div class="col-md-8 col-sm-8 ng-binding">N/A</div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4" style="font-weight: 600;">
                        <span translate="REGISTER_PROFILE_LABEL_CITY" class="ng-scope">City</span>
                    </label>
                    <div class="col-md-8 col-sm-8 ng-binding">Jenks</div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4" style="font-weight: 600;">
                        <span translate="REGISTER_PROFILE_LABEL_STATE" class="ng-scope">State</span>
                    </label>
                    <div class="col-md-8 col-sm-8 ng-binding">Oklahoma</div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4" style="font-weight: 600;">
                        <span translate="REGISTER_PROFILE_LABEL_ZIP_CODE" class="ng-scope">Zip Code</span>
                    </label>
                    <div class="col-md-8 col-sm-8 ng-binding">74037</div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4 ng-scope" style="font-weight: 600;" translate="REGISTER_PROFILE_LABEL_INITIAL_DATE">Initial Registration Date</label>
                    <div class="col-md-8 col-sm-8 ng-binding">03/25/2016</div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4 ng-scope" style="font-weight: 600;" translate="REGISTER_PROFILE_LABEL_PROFESSION">Profession</label>
                    <div class="col-md-8 col-sm-8 ng-binding">Licensed Professional Counselor (LPC)</div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4 ng-scope" style="font-weight: 600;" translate="REGISTER_PROFILE_LABEL_SUPERVISOR_STATUS">Supervisor Status</label>
                    <div class="col-md-8 col-sm-8 ng-binding"></div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-sm-4 ng-scope" style="font-weight: 600;" translate="REGISTER_PROFILE_LABEL_SUPERVISOR_EXPIRY_DATE">Supervisor Expiration Date</label>
                    <div class="col-md-8 col-sm-8 ng-binding">N/A</div>
                </div>
            </div>

            <!-- Candidacy Information -->
            <!-- ngIf: candidacyHistory.length -->

            <!-- License Information -->
            <!-- ngIf: licenseHistory.length --><div class="hd-transparent-box ng-scope" ng-if="licenseHistory.length" style="background-color: rgb(255, 255, 255); border-bottom: 0px; margin-bottom: 30px; overflow-x: auto;">

                <h2>
                    <span translate="REGISTER_PROFILE_HEADING_LICENSE_INFO" class="ng-scope">License Information</span>
                </h2>
                <table-builder data="licenseHistory" config-options="licenseConfig" class="ng-isolate-scope"><div class="hidden-xs" style="overflow-x: auto">
    <table class="table table-striped table-bordered" style="margin-bottom: 0">
        <thead>
        <tr>
            <!-- ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">License Number</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">License Status</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">License Effective Date</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">License Expiry Date</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">Approved Supervisor</th><!-- end ngRepeat: title in $ctrl.headers track by $index -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr>
        </thead>
        <tbody>
        <!-- ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">07/01/2026</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2027</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">No</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">07/01/2025</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2026</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">No</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">07/01/2024</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2025</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Yes</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2023</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2024</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Yes</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">07/01/2022</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2023</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Yes</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">07/01/2021</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2022</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Yes</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">LPC06077</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Active</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">07/01/2020</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">06/30/2021</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">No</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data -->
        <!-- ngIf: !$ctrl.data.length -->
        </tbody>
    </table>
</div>

<!-- Table Mobile-->
<div class="hidden-sm hidden-md hidden-lg">
    <!-- ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">07/01/2026</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2027</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">No</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">07/01/2025</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2026</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">No</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">07/01/2024</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2025</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Yes</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2023</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2024</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Yes</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">07/01/2022</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2023</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Yes</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">07/01/2021</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2022</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Yes</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Number</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">LPC06077</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Status</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Active</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Effective Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">07/01/2020</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">License Expiry Date</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">06/30/2021</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Approved Supervisor</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">No</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data -->
    <!-- ngIf: $ctrl.data.length === 0 -->
</div>

<!-- ngIf: $ctrl.canAdd -->
</table-builder>
            </div><!-- end ngIf: licenseHistory.length -->

            <!-- Public Notices -->
            <div class="hd-transparent-box" style="background-color: #fff; border-bottom: 0px; margin-bottom: 30px; overflow-x: auto;">

                <h2>
                    <span translate="REGISTER_PROFILE_HEADING_NOTICES" class="ng-scope">Disciplinary Actions</span>
                </h2>

                <table class="table table-striped table-bordered table-show-print hidden-xs">
                    <thead>
                    <tr>
                        <th translate="REGISTER_PROFILE_LABEL_TYPE" class="ng-scope">Type</th>
                        <th translate="REGISTER_PROFILE_LABEL_SUMMARY" style="width: 35%" class="ng-scope">Summary</th>
                        <th translate="REGISTER_PROFILE_LABEL_EFFECTIVE_DATE" class="ng-scope">Effective Date</th>
                        <th translate="REGISTER_PROFILE_LABEL_ATTACHMENTS" style="width:200px" class="ng-scope">Attachments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ngRepeat: x in profile.publicNotices -->
                    <!-- ngIf: !profile.publicNotices.length --><tr ng-if="!profile.publicNotices.length" class="ng-scope">
                        <td colspan="5" style="text-align: center">
                            <p translate="REGISTER_PROFILE_LABEL_NO_PUBLIC_NOTICE" class="ng-scope">None</p>
                        </td>
                    </tr><!-- end ngIf: !profile.publicNotices.length -->
                    </tbody>
                </table>


                <div class="hidden-sm hidden-md hidden-lg table-mobile">
                    <!-- ngRepeat: x in profile.publicNotices -->
                    <!-- ngIf: !profile.publicNotices.length --><div ng-if="!profile.publicNotices.length" class="ng-scope">
                        <div class="table-mobile-single" style="border: 1px solid #cccccc; padding: 15px;">
                            <p translate="REGISTER_PROFILE_LABEL_NO_PUBLIC_NOTICE" class="ng-scope">None</p>
                        </div>
                    </div><!-- end ngIf: !profile.publicNotices.length -->
                </div>

            </div>

            <!-- Places of Practice -->
            <div class="hd-transparent-box" style="background-color: #fff; border-bottom: 0px; margin-bottom: 30px; overflow-x: auto;">

                <h2>
                    <span translate="REGISTER_PROFILE_HEADING_PRACTICE_SITES" class="ng-scope">Place(s) of Practice</span>
                </h2>
                <table-builder data="placesOfPractice" config-options="placesOfPracticeConfig" class="ng-isolate-scope"><div class="hidden-xs" style="overflow-x: auto">
    <table class="table table-striped table-bordered" style="margin-bottom: 0">
        <thead>
        <tr>
            <!-- ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">Employing Agency</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">City</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">State</th><!-- end ngRepeat: title in $ctrl.headers track by $index --><th ng-repeat="title in $ctrl.headers track by $index" class="ng-binding ng-scope">Zip Code</th><!-- end ngRepeat: title in $ctrl.headers track by $index -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr>
        </thead>
        <tbody>
        <!-- ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope" style="">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Resolve Behavioral Health Services</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Tulsa</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Oklahoma</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">74105</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data --><tr ng-repeat="item in $ctrl.data" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" class="ng-scope">
            <!-- ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">Resolve Behavioral Health Services</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">TULSA</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">OK</td><!-- end ngRepeat: (key, value) in item.columnValues --><td ng-repeat="(key, value) in item.columnValues" ng-bind-html="value" class="ng-binding ng-scope">74105</td><!-- end ngRepeat: (key, value) in item.columnValues -->
            <!-- ngIf: $ctrl.hasActions -->
        </tr><!-- end ngRepeat: item in $ctrl.data -->
        <!-- ngIf: !$ctrl.data.length -->
        </tbody>
    </table>
</div>

<!-- Table Mobile-->
<div class="hidden-sm hidden-md hidden-lg">
    <!-- ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid rgb(204, 204, 204); padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Employing Agency</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Resolve Behavioral Health Services</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">City</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Tulsa</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">State</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Oklahoma</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Zip Code</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">74105</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data --><div class="table-mobile-single ng-scope" style="border: 1px solid #cccccc; padding: 15px;" ng-style="{'background-color': (item.customRowBackgroundCSS &amp;&amp; item.customRowBackgroundCSS.showCondition) ? item.customRowBackgroundCSS.color : 'f9f9f9'}" ng-repeat="item in $ctrl.data">
        <!-- ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Employing Agency</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">Resolve Behavioral Health Services</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">City</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">TULSA</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">State</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">OK</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index --><div ng-repeat="title in $ctrl.headers track by $index" class="ng-scope">
            <div class="row">
                <label class="col-xs-12 col-sm-12"><strong class="ng-binding">Zip Code</strong></label>
                <div class="col-xs-12 col-sm-12 ng-binding" ng-bind-html="$ctrl.getDataArray(item)[$index]">74105</div>
            </div>
            <div style="padding:5px;"></div>
        </div><!-- end ngRepeat: title in $ctrl.headers track by $index -->
        <!-- ngIf: $ctrl.hasActions -->
    </div><!-- end ngRepeat: item in $ctrl.data -->
    <!-- ngIf: $ctrl.data.length === 0 -->
</div>

<!-- ngIf: $ctrl.canAdd -->
</table-builder>
            </div>



        </div>
    </div>


    <div class="row hd-search no-print">
        <div class="col-md-12">
            <div class="pull-left">
                <!-- ngIf: keyword --><a ng-if="keyword" href="#/search/Johnson/0/20/all/all/false/false" class="btn btn-single ng-scope">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span translate="SHARED_BUTTON_BACK_RESULTS" class="ng-scope">Back to results</span>
                </a><!-- end ngIf: keyword -->
            </div>
            <div class="pull-right hidden-xs">
                <a href="#/" class="btn btn-light"><i class="fa fa-refresh" aria-hidden="true"></i>
                    <span translate="SHARED_BUTTON_SEARCH_AGAIN" class="ng-scope">Search Again</span>
                </a>
                <a href="javascript:window.print();" class="btn btn-light">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span translate="SHARED_BUTTON_PRINT" class="ng-scope">Print</span>
                </a>
            </div>
            <div class="row hd-search no-print hidden-sm hidden-md hidden-lg pull-right">
                <div class="col-md-12">
                    <a href="#/" class="btn btn-light">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        <span translate="SHARED_BUTTON_SEARCH_AGAIN" class="ng-scope">Search Again</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding: 15px" class="ng-scope"></div>
</div>
    </div>

    <div class="powered-by register">
        <span translate="SHARED_LABEL_POWERED_BY" class="ng-scope">Powered by</span>
        <a href="https://www.thentia.com" target="_blank">Thentia Cloud</a></div>



<div class="k-list-container k-popup k-group k-reset" id="lang-dropdown-list" data-role="popup" style="position: absolute; height: auto; display: none;"><ul unselectable="on" class="k-list k-reset" tabindex="-1" role="listbox" aria-hidden="true" id="lang-dropdown_listbox" aria-live="off" style="overflow: auto; height: auto;"><li tabindex="-1" role="option" unselectable="on" class="k-item ng-scope k-state-selected k-state-focused" id="lang-dropdown_option_selected" aria-selected="true">EN</li></ul></div></body></html>